@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
}
.homePage {
	background: #B600FA;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #1200FA;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #FA00E1;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
		color: #000000;
}
.content {
	background: #6301FA;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: left;
}
.footer {
	background: #003DFA;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #FFFFFF;
}
a:visited {
     color: #FFFFFF;
}
a:hover, a:active, a:focus { 
	 color: #FFFFFF;
     text-decoration: underline;
}
